# Configuración del Servidor de Correo (SMTP Gmail)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD=tu_contraseña_de_aplicación_google

# Configuración de Base de Datos
DATABASE_URL=mysql://root:@localhost/bd_clc1
