:root{
    --pink:#e84393;
}


*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.6)50%, rgba(0,0,0,0.6)50%), url(../img/fondohilo.jpeg);
    background-position: center;
    background-size: cover;
    height: 98vh; 
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
   
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin:0 ;
}

img{
    width: 180px;
}
.menu{
    width: 400px;
    float: left;
    height: 100px;
    font-size: 20px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 100x;
}

ul li a{
        text-decoration: none;
        color: #fff;
        font-family: Arial;
        transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: var(--pink);
}





.content{
    width: 1200px;
    height: auto;
    margin: auto;
    position: relative;
    color: #fff;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: var(--pink);
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: 0.3s ease;
    border: none;

}

.cn:hover{
    background-color:#fff ;
    transition: 0.8s ease;
}

.content span{
    color: var(--pink);
    font-size: 60px;
}

.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
    box-shadow: #000 2px 2px 4px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: var(--pink);
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
    box-shadow: #000 2px 2px 3px;
}

.form h2:hover{
    background-color: #000;
    transition: 0.7 s ease;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid var(--pink);
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: var(--pink);
    border: none;
    margin-top: 30px;
    font-size: 20px;
    border-radius: 5rem;
    padding: .9rem 4rem;
    cursor: pointer;
    color: #fff;
    transition: 0.4 ease;
}

.btnn:hover{
    background: #fff;
    color: var(--pink);
}

.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: var(--pink);
}

.liw{
    padding-top: 15px;
    border-bottom: 10px;
    text-align: center;
}

.icons a{
    text-decoration: none;
    color: #fff;
}

.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 5px;
    transition: 0.3s ease;
}

.icons ion-icon:hover{
    color: var(--pink);
}
    
footer{
    background: #e84393;
    padding: 20PX 0 50PX 0;
    margin: auto;
    overflow: hidden;

}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #ffcb20;

}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color:rgb(255, 191, 108) ;
    border-bottom: 3px solid rgb(255, 160, 35);
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-family: 'DM Serif Display', serif;
    font-size: 22px;
}

.content-foo p{
    color:rgb(255, 191, 108);
    width: 300px;
    font-family: 'Mali', cursive;
    font-size: 20px;
}

.content-foo img{
    border-radius: 10px;
    box-shadow: 0 0 7px 0 rgb(0, 0, 0, .8);
    width: 80px;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #000
    ;
}

.user{
    color: var(--pink);
    position: fixed;
    width: 300px;
    height: 45px;
    top: 100px;
    right: -40px;
    bottom:0;
  
}

.cart{
    color: var(--pink);
    position: fixed;
    width: 300px;
    height: 45px;
    top: 150px;
    right: -40px;
    bottom:0;
}

.like{
    color: var(--pink);
    position: fixed;
    width: 300px;
    height: 45px;
    top: 200px;
    right: -40px;
    bottom:0;
}

.comment{
    color: var(--pink);
    position: fixed;
    width: 300px;
    height: 45px;
    top: 250px;
    right: -40px;
    bottom:0;
}

.compras {
    width: 100%;
    text-align: center;
    color: #000000;
    display: flex;
    margin-top: 60px;
    background-color: #fff;
    
}

.ima{
    float: left;
    width: 280px;
}

p{
    float: left;
    width: 230px;
    margin-left: 55px;
    text-align: center;
    color: #fff;
    display: flex;
    font-size: 20px;
}

.p1{
    margin-left: 80px;
}

.personal{
    width: 100%;
    color: #000000;
    display: flex;
    margin-top: 2px;
}

.imag{
    float: left;
    width: 700px;
    background-color: transparent;
    border: rgba(0,0,0,0.6);
    box-shadow: #000 1px 4px 4px 4px;
    border-color: #000;
    border-radius: 2px;
    height: 350px;
    margin-left: 40px;
}


